<mat-card class="no-p card-profile">
  <div class="backgroundPicture">
    <div (click)="goToProfile()" class="cropedPhoto">
      <img [src]="user?.photo">
    </div>
  </div>
  <div class="otherInfos">
    <h3>{{user?.name}}</h3>
    <p>{{user?.area}}</p>

    <app-project-info *ngIf="projectId" [projectId]="projectId"></app-project-info>

    <a *ngIf="projectId" [routerLink]="[ '/project/ce', projectId ]" mat-raised-button type="submit" color="primary"
      class="w-50 top-40">Atualizar Projeto</a>
    <a *ngIf="!projectId" [routerLink]="[ '/project/ce' ]" mat-raised-button type="submit" color="primary" class="w-50 top-40">Adicionar
      Projeto</a>
  </div>
</mat-card>