@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* -- Pallet Colors --
Dark Primary: #512DA8
Primary: #673AB7
Light Primary: #7C51C8
Second Light Primary: #D1C4E9
Accent: #FFC107
Primary Text: #212121
Secondary Text: #757575
Divider: #BDBDBD
*/

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}