<mat-card class='no-p card-profile'>
  <div class="backgroundPicture">
    <a [routerLink]="[ '/user', 1 ]">
      <div class="cropedPhoto">
        <img [src]="user?.photo">
      </div>
    </a>
  </div>
  <div class="mainInfos">
    <h3>{{user?.name}}</h3>
    <p>{{user?.area}}</p>

    <button mat-raised-button type="submit" color="primary" class="w-50">Mais Informações</button>
    <button mat-raised-button type="submit" color="primary" class="w-50">Adicionar Projeto</button>

  </div>
  <div class="mainInfos">
    <div *ngIf='project; else noproject'>
      <h3 class="title-profHeader">Projeto: {{project?.name}}</h3>
      <p class="project-description">{{project?.description}} </p>

      <mat-progress-bar mode="determinate" value="40" color="accent" style="background-color: #ccc"></mat-progress-bar>

      <button mat-raised-button type="submit" color="primary" class="w-50 top-40">Atualizar Projeto</button>
    </div>
  </div>
  <div class="mainInfos">
    <mat-tab-group mat-stretch-tabs color="accent" backgroundColor="primary">
      <mat-tab label="Meu Projeto"> </mat-tab>
      <mat-tab label="Meus Posts"> Meus Posts </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>

<ng-template #noproject>
  <h3 class="title-profHeader">Nenhum projeto criado</h3>
</ng-template>