<mat-card class='no-p card-profile'>
  <div class="backgroundPicture">
    <a [routerLink]="[ '/user', 1 ]">
      <div class="cropedPhoto">
        <img [src]="user?.photo">
      </div>
    </a>
  </div>
  <div class="mainInfos">
    <h3>{{user?.name}}</h3>
    <p>{{user?.area}}</p>


    <a *ngIf="projectId" [routerLink]="[ '/project/ce', projectId ]" mat-raised-button type="submit" color="primary"
      class="w-50 top-40">Atualizar Projeto</a>
    <a *ngIf="!projectId" [routerLink]="[ '/project/ce' ]" mat-raised-button type="submit" color="primary" class="w-50 top-40">Adicionar
      Projeto</a>

  </div>
  <div class="mainInfos">
    <div *ngIf='project; else noproject'>
      <h3 class="title-profHeader">Projeto: {{project?.name}}</h3>
      <p class="project-description">{{project?.description}} </p>

      <mat-progress-bar mode="determinate" [value]="project.loading" color="accent" style="background-color: #ccc"></mat-progress-bar>

      <button mat-raised-button type="submit" color="primary" class="w-50 top-40">Atualizar Projeto</button>
    </div>
  </div>
  <div class="mainInfos">
    <mat-tab-group mat-stretch-tabs color="accent" backgroundColor="primary">
      <mat-tab label="Meu Projeto">
        <div *ngIf='projectPosts.length; else noposts'>
          <mat-card *ngFor='let post of projectPosts' class="post-details">
            <app-post-details [post]="post"></app-post-details>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Meus Posts">
        <div *ngIf='userPosts.length; else noposts'>
          <mat-card *ngFor='let post of userPosts' class="post-details">
            <app-post-details [post]="post"></app-post-details>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>

<ng-template #noproject>
  <h3 class="title-profHeader">Nenhum projeto criado</h3>
</ng-template>

<ng-template #noposts>
  <h3 class="title-profHeader">Sem posts</h3>
</ng-template>