<header class="post-details__header ">
  <mat-list>
    <mat-list-item>
      <img matListAvatar [src]="post.user.photo" alt="Foto do Usuário" />
      <h3 matLine>{{ post.user.name }}</h3>
      <p matLine>
        <span> {{ post.createdAt | date: "dd/MM/yyyy" }} </span>
      </p>
    </mat-list-item>
  </mat-list>
</header>
<div class="post-details__body secondary-text-color">
  <img
    *ngIf="post.photo"
    [src]="post.photo"
    alt="Foto do Post"
    class="post-details__body__img"
  />
  <span class="post-details__body__text"> {{ post.content }} </span>
</div>
