<mat-card class="post-details">
  <header class='post-details__header '>
    <img [src]='post.user.photo' [alt]='post.user.name' class='post-details__header__photo'>
    <div class='post-details__header__user'>
      <span class='post-details__header__name primary-text-color'>
        {{post.user.name}}
      </span>
      <span class='post-details__header__date secondary-text-color'>
        {{post.content.text}}
      </span>
    </div>
  </header>
  <div class='post-details__body secondary-text-color'>
    <img *ngIf='post.content.img' [src]='post.content.img' alt='Image title' class='post-details__body__img'/>
    <span class='post-details__body__text'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem doloremque id et ipsum at mollitia optio ipsam
      error? Accusamus ea impedit eligendi dicta iusto aperiam recusandae quas labore voluptatibus deleniti!
    </span>
  </div>
</mat-card>