.post-details {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
}

.post-details__header {
  display: flex;
  align-items: center;
  flex-flow: row;
  width: 100%;
  margin-bottom: 1em;
}

.post-details__header__photo {
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.post-details__header__user {
  width: calc(100% - 64px);
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  padding: 0 1em;
}

.post-details__body {
  font-size: 1em;
  /* color: var(--middle-text-icons-color); */
}