<div class="container">
  <div class="pure-g">
    <mat-card>
      <div class="pure-u-1 pure-u-md-3-5">
        <div class="box-teste">
          <h2 class="text-home">
            Organize,<br>
            Contribua <span>&</span><br>
            Divulgue<br>
          </h2>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-5 rigth-side">

        <img src="../../../assets/images/meu-projeto.png" alt="">
        <div class="card__padding">
          <form [formGroup]="loginForm">
            <div class="pure-u-1">
              <mat-form-field>
                <input matInput [(ngModel)]="email" formControlName="email" type="text" placeholder="Email" required>
              </mat-form-field>
            </div>
            <div class="pure-u-1">
              <mat-form-field>
                <input matInput [(ngModel)]="password" formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Senha" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
            </div>

            <div class="pure-u-1">
              <div class="row-center">
                <button (click)="login()" [disabled]="loginForm.invalid" mat-raised-button type="submit" color="primary" class="w-50">Confirmar</button>
                <a mat-raised-button color="primary" class="w-50" [routerLink]="[ '/user' ]">Cadastrar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>